@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 100px;
}

.dnone {
    display: none;
}

.pencil-main {
    background-color: #EF6A25;
}

.pencil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 15px 0;
    color: #fff;
}

.pencil-contact {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}

.pencil-contact a {
    color: #fff;
}

.pencil-order {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}

.pencil-order a {
    color: #fff;
}

.pencil-incl {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}

.pencil-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pencil-excl {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}

.pencil-excl a,
.pencil-incl a {
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.searchform {
    position: relative;
}

.select-account {
    border: none;
}

.headersearch form .searchbutton {
    position: absolute;
    right: 0;
    padding: 16px 40px;
    background: #EF6A25;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: none;
    font-family: Arial, Helvetica, sans-serif
}

.header .header-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 110px;
}

.header .header-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-account-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlist ul {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    list-style-type: none;

}

.navlist-main {
    padding: 16px 0;
    background-color: #F7F7F7;
    border: 1px solid #eaeaea;
}

.navlist ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000000;

}

.navlist li {
    width: 90px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;


}

.heading-price {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding: 41px 0 38px 0;
    text-align: center;
    color: #EF6A25;
    border-bottom: 1px solid #eaeaea;

}

.selling-products {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 56.25px;
    text-align: center;
    color: #EF6A25;

}

.selling-products .sub-heading {
    /* width: ; */
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 35.16px;
    text-align: left;
    border-left: #EF6A25;
}

.card a {
    text-decoration: none;
}

.cardbrand {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: 500;

    text-align: left;


}

@media screen and (min-width: 1024px) {
    .headersearch form .search-input {
        padding: 16px 110px 16px 68px;
        width: 425px;
    }

}

@media screen and (min-width: 1366px) {
    .headersearch form .search-input {
        padding: 16px 110px 16px 68px;
        width: 550px;
    }

}

@media screen and (min-width: 14404px) {
    .headersearch form .search-input {
        padding: 16px 110px 16px 68px;
        width: 650px;
    }

}

@media screen and (min-width: 1920px) {
    .headersearch form .search-input {
        padding: 16px 110px 16px 68px;
        width: 823px;
    }

}