@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 100px;
}

.dnone {
    display: none;
}

.pencil-main {
    background-color: #EF6A25;
}

.pencil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 15px 0;
    color: #fff;
}

.pencil-contact {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}

.pencil-contact a {
    color: #fff;
}

.pencil-order {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}

.pencil-order a {
    color: #fff;
}

.pencil-incl {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}

.pencil-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pencil-excl {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
}

.pencil-excl a,
.pencil-incl a {
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headersearch form .search-input {
    padding: 16px 110px 16px 68px;
    width: 823px;
}

.searchform {
    position: relative;
}

.headersearch form .searchbutton {
    position: absolute;
    right: 0;
}

.header .header-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 110px;
}

.header .header-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-account-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}